<div class="footer row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="link">
			<a href="#"><i class="fa fa-facebook-square"></i> <span>facebook</span></a>
			<a href="#"><i class="fa fa-twitter"></i> <span>twitter</span></a>
			<a href="#"><i class="fa fa-youtube"></i> <span>youtube</span></a>
			<a href="#"><i class="fa fa-envelope"></i> <span>e-mail</span></a>
			<a href="#"><i class="fa fa-exclamation-circle"></i> Privacy policy</a>
		</div>
	</div>
	<div class="text-center clearfix copyright">
		Copyright © 2014  All Rights Reserved.	
	</div>		
</div>
