<div class="typeside">	
	<div class="sideNav" style="visibility:hidden">            
        <i class="fa fa-chevron-left"></i>
        <i class="fa fa-chevron-right" style="display:none"></i>            
    </div>
    <div class="on" style="display:block">
	    <div class="type">
			<span>Contents </span>
		</div>		
		<div class="list">
			<a href="#">
				<div class="subhead">Features</div>
				<small>2014-12-01</small>
			</a>			
		</div>
		<div class="list">
			<a href="#">
				<div class="subhead">Syntax</div>
				<small>2014-12-01</small>
			</a>			
		</div>
		<div class="list">
			<a href="#">
				<div class="subhead">Using</div>
				<small>2014-12-01</small>
			</a>			
		</div>		
	</div>
</div>
