<div class="container">
	<div class="content">
	    <div class="inner">        
	        <h1><span>Characteristic</span></h1>
	        <p>Jass is an extension of CSS that adds power and elegance to the basic language. It allows you to use variables, nested rules, mixins, inline imports, and more, all with a fully CSS-compatible syntax. Jass helps keep large stylesheets well-organized, and get small stylesheets up and running quickly, particularly with the help of the Compass style library.</p>   
	    </div> 
	</div>   
</div>