<div class="wrapper">
	<div class="prevNext">
		<img class="prev" src="template/img/prev.png" alt="prev" />
		<img class="next" src="template/img/next.png" alt="next" />
	</div>
	<div id="sequence">
		<ul>
			<!-- START SLIDE 1 -->
			<li>
				<h2 class="title animate-in one">HTML Ipsum Presents</h2>
				<div class="subtitle animate-in one">
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.					
				</div>						   
				<img class="slide animate-in one" src="template/img/slide.png" alt="">
			</li>

			<!-- START SLIDE 2 -->
			<li>
				<h2 class="title animate-in two">HTML Ipsum Presents</h2>
				<div class="subtitle animate-in two">
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.					
				</div>						   
				<img class="slide animate-in two" src="template/img/slide_two.png" alt="">
			</li>

			<!-- START SLIDE 3 -->
			<li>
				<h2 class="title animate-in three">HTML Ipsum Presents</h2>
				<div class="subtitle animate-in three">
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.					
				</div>						   
				<img class="slide animate-in three" src="template/img/slide_three.png" alt="">
			</li>		
		</ul>
	</div>
	<!-- /#sequence -->
	<ul id="nav">
		<li><span class="active"></span></li>
		<li><span></span></li>
		<li><span></span></li>
	</ul>
</div>
<!-- /.wrapper -->
