<div class="container">
  <div class="content">  
    <h1><span><%=value.list[0].slogn%></span></h1>  
    <div class="row">  
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 entry">
           <i class="fa fa-desktop"></i>
           <h2><%=value.list[0].title%></h2>
           <p><%=value.list[0].body%></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 entry">
           <i class="fa fa-tablet"></i>
           <h2><%=value.list[1].title%></h2>
           <p><%=value.list[1].body%></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 entry">
           <i class="fa fa-mobile-phone"></i>
           <h2><%=value.list[2].title%></h2>
           <p><%=value.list[2].body%></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 entry">
           <i class="fa fa-gears"></i>
           <h2><%=value.list[4].title%></h2>
           <p><%=value.list[4].body%></p>
        </div>               
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 entry">
           <i class="fa fa-cubes"></i>
           <h2><%=value.list[5].title%></h2>
           <p><%=value.list[5].body%></p>           
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 entry">
           <i class="fa fa-print"></i>
           <h2><%=value.list[3].title%></h2>
           <p><%=value.list[3].body%></p>
        </div> 
    </div>
  </div>
</div>